*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.book{
  padding: 10px;
  border: 2px solid black;

}

.book img{
  height: 300px;
}

.book h1{
  font-size: 1.5rem;
}

.book button{
  background-color: rgb(255, 255, 0);
  color: black;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  
}

.book button:hover{
  background-color: greenyellow;
}
